<section id="about" class="py-24">
  <div class="flex items-center mb-12">
    <h2 class="text-2xl lg:text-3xl font-bold text-slate-100 font-mono">
      <span class="text-teal-400-custom text-xl lg:text-2xl">01.</span>
      About Me
    </h2>
    <div class="ml-4 h-px flex-grow bg-slate-700"></div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-5 gap-12">
    <div class="md:col-span-3 text-slate-400 space-y-4 text-lg">
      <p>
        Hello! I'm Abdul Qaadir, an AI and software engineer passionate about transforming ideas into intelligent systems that scale. My journey into the world of AI is driven by a fascination with building autonomous workflows and experimenting with new paradigms in practical, production-grade artificial intelligence.
      </p>
      <p>
        I thrive on staying at the cutting edge of AI advancements and applying them to create meaningful impact. From developing agentic workflows for resume analysis to building custom chatbots with Retrieval-Augmented Generation, I'm constantly seeking to solve complex problems with innovative solutions.
      </p>
    </div>
    <div class="md:col-span-2 relative mx-auto max-w-xs">
      <div class="relative group w-full">
        <div class="absolute -inset-1.5 bg-teal-400-custom rounded-lg blur-sm opacity-50 group-hover:opacity-75 transition duration-500"></div>
        <div class="relative bg-slate-900 rounded-lg overflow-hidden">
          <img 
            ngSrc="https://scontent.fcmb11-1.fna.fbcdn.net/v/t39.30808-6/540502502_1220648106532328_6105041293859416683_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHmDs2HfWUwx1SaLIWpF_IwfEUhNIENSod8RSE0gQ1Kh8o637Rsg4_lenL-dmHaeYz43oRATNwog0LamMKWQu1u&_nc_ohc=eW9-9dhb5wgQ7kNvwFy8U9C&_nc_oc=AdnxWqz-vV5QsjiCEcJzUYO989OFN12Kxw-j0exLI6gMMbFpwSC99d160wnzqQoswFPPsL_AJasFgRScC4Vv8sS9&_nc_zt=23&_nc_ht=scontent.fcmb11-1.fna&_nc_gid=OKFew8DQp_Ngm-K2KkKWlw&oh=00_Afh3Z3xiaDqBgyOpXwnVybEldMziQ2R0z0n2rSgAkSyWjw&oe=6910FECD" 
            alt="Sufi Muhiyaddeen Abdul Qaadir"
            width="400" 
            height="400"
            class="w-full h-full object-cover"
            priority>
        </div>
      </div>
    </div>
  </div>
</section>