<div class="flex flex-col min-h-screen">
  <app-header></app-header>
  
  <app-social-links></app-social-links>
  <app-email-link></app-email-link>

  <main class="px-6 sm:px-12 md:px-24 lg:px-48 xl:px-64 mx-auto w-full max-w-screen-xl">
    <app-hero></app-hero>
    <app-about></app-about>
    <app-experience></app-experience>
    <app-skills></app-skills>
    <app-contributions></app-contributions>
    <app-projects></app-projects>
    <app-contact></app-contact>
  </main>

  <app-footer></app-footer>
</div>